# Imports

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

import gc
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

# Loading Data

In [3]:
train = pd.read_csv('train.csv')

In [44]:
building = pd.read_csv('building_metadata.csv')

In [5]:
weather_train = pd.read_csv('weather_train.csv')

# Reduce Memory Usage

In [7]:
## Function to reduce the DF size
def reduce_mem_usage(df, use_float16=False):
    """ iterate through all the columns of a dataframe and modify the data type
        to reduce memory usage.        
    """
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    
    for col in df.columns:
        if is_datetime(df[col]) or is_categorical_dtype(df[col]):
            # skip datetime type or categorical type
            continue
        col_type = df[col].dtype
        
        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if use_float16 and c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')

    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    
    return df

# 1. Weather_train: Imputations for Weather Info

Set timestamp as index.\
Add more features for timeseries. Would benifit for later missing values imputation.\
Assign data types to new features.

In [8]:
def add_times_series_feature(df):
    df= df.set_index('timestamp')
    df.index = pd.to_datetime(df.index)
    df['hour']=df.index.hour
    df['day'] = df.index.day
    df['weekday']=df.index.weekday
    df['month']=df.index.month
    df=df.reset_index()
    return df

In [9]:
weather_train_processed=add_times_series_feature(weather_train)

In [10]:
weather_train_processed.head()

,timestamp,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,weekday,month
0,2016-01-01 00:00:00,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,1,4,1
1,2016-01-01 01:00:00,0,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5,1,1,4,1
2,2016-01-01 02:00:00,0,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,2,1,4,1
3,2016-01-01 03:00:00,0,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,3,1,4,1
4,2016-01-01 04:00:00,0,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,4,1,4,1

In [11]:
weather_train_processed.dtypes

timestamp             datetime64[ns]
site_id                        int64
air_temperature              float64
cloud_coverage               float64
dew_temperature              float64
precip_depth_1_hr            float64
sea_level_pressure           float64
wind_direction               float64
wind_speed                   float64
hour                           int64
day                            int64
weekday                        int64
month                          int64
dtype: object

For weather information, \
cloud_coverage	   43.655% missing, {0,1,2,...,9} \
precip_depth_1_hr	18.545% missing \
sea_level_pressure : site 5 has no record\
dew_temperature: site 10 has pretty low dew temperature

## 1.1 cloud_coverage, precip_depth_1_hr, sea_leverl_pressure, wind_direction, wind_speed

Those variables are missing on consecutive days. Fill missing values by the day of the month mean.\
Notice that cloud_coverage are actually categorical values from 0 ,1,2,...,9. Use np.rint to round up to an interger

## 1.2 air_temperature, dew_temperature

Theoretically, they are highly correlated to each other. \
<span style='color:red'>air_temperature must be higher than dew_temperature.</span>

In [12]:
weather_train_processed.head()

,timestamp,site_id,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,weekday,month
0,2016-01-01 00:00:00,0,25.0,6.0,20.0,NaN,1019.7,0.0,0.0,0,1,4,1
1,2016-01-01 01:00:00,0,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5,1,1,4,1
2,2016-01-01 02:00:00,0,22.8,2.0,21.1,0.0,1020.2,0.0,0.0,2,1,4,1
3,2016-01-01 03:00:00,0,21.1,2.0,20.6,0.0,1020.1,0.0,0.0,3,1,4,1
4,2016-01-01 04:00:00,0,20.0,2.0,20.0,-1.0,1020.0,250.0,2.6,4,1,4,1

In [13]:
weather_train_processed.dtypes

timestamp             datetime64[ns]
site_id                        int64
air_temperature              float64
cloud_coverage               float64
dew_temperature              float64
precip_depth_1_hr            float64
sea_level_pressure           float64
wind_direction               float64
wind_speed                   float64
hour                           int64
day                            int64
weekday                        int64
month                          int64
dtype: object

In [14]:
def weather_info_imputation(weather_df):
    """
    Impute missing values from weather dataset by the mean value of the day of the month (forward fill)
    """

    weather_df = weather_df.set_index(['site_id','month','day'])
    cloud_coverage_filler = np.rint(weather_df.groupby(['site_id','month','day'])['cloud_coverage'].mean())
    cloud_coverage_filler = pd.DataFrame(cloud_coverage_filler.fillna(method='ffill'),columns=['cloud_coverage'])
    weather_df.update(cloud_coverage_filler,overwrite=False)

    precip_depth_filler = weather_df.groupby(['site_id','month','day'])['precip_depth_1_hr'].mean()
    precip_depth_filler = pd.DataFrame(precip_depth_filler.fillna(method='ffill'),columns=['precip_depth_1_hr'])
    weather_df.update(precip_depth_filler,overwrite=False)

    sea_filler = weather_df.groupby(['site_id','month','day'])['sea_level_pressure'].mean()
    sea_filler = pd.DataFrame(sea_filler.fillna(method='ffill'),columns=['sea_level_pressure'])
    weather_df.update(sea_filler,overwrite=False)
    
    wind_direction_filler =  pd.DataFrame(weather_df.groupby(['site_id','month','day'])['wind_direction'].mean(),columns=['wind_direction'])
    weather_df.update(wind_direction_filler,overwrite=False)

    wind_speed_filler =  pd.DataFrame(weather_df.groupby(['site_id','month','day'])['wind_speed'].mean(),columns=['wind_speed'])
    weather_df.update(wind_speed_filler,overwrite=False)
    
    
   
    air_temperature_filler = weather_df.groupby(['site_id','month','day'])['air_temperature'].mean()
    air_temperature_filler = pd.DataFrame(air_temperature_filler.fillna(method='ffill'),columns=['air_temperature'])
    weather_df.update( air_temperature_filler,overwrite=False)
                                                                           
    dew_temperature_filler = weather_df.groupby(['site_id','month','day'])[ 'dew_temperature'].mean()
    dew_temperature_filler = pd.DataFrame(dew_temperature_filler.fillna(method='ffill'),columns=['dew_temperature'])                                                                      
    weather_df.update( dew_temperature_filler,overwrite=False)
    
    wrong_temp=weather_df[weather_df['air_temperature'] < weather_df['dew_temperature']][['air_temperature','dew_temperature']]
    for i in range(len(wrong_temp)):
        wrong_temp['air_temperature'].iloc[i]=wrong_temp['dew_temperature'].iloc[i]
       
    wrong_temp=wrong_temp.drop('dew_temperature',axis=1)
    weather_df.update(wrong_temp.values,overwrite=False)
    
    weather_df=weather_df.reset_index()
    weather_df=weather_df.drop(['hour','day','weekday','month'],axis=1)
    
    
    return weather_df

In [15]:
weather_train_processed=weather_info_imputation(weather_train_processed)

In [16]:
weather_train_processed.head()

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,4.0,21.1,-1.000000,1020.2,70.0,1.5
2,0,2016-01-01 02:00:00,22.8,2.0,21.1,0.000000,1020.2,0.0,0.0
3,0,2016-01-01 03:00:00,21.1,2.0,20.6,0.000000,1020.1,0.0,0.0
4,0,2016-01-01 04:00:00,20.0,2.0,20.0,-1.000000,1020.0,250.0,2.6

In [17]:
weather_train_processed.columns

Index(['site_id', 'timestamp', 'air_temperature', 'cloud_coverage',
       'dew_temperature', 'precip_depth_1_hr', 'sea_level_pressure',
       'wind_direction', 'wind_speed'],
      dtype='object')

In [18]:
weather_train_na_vars = [var for var in weather_train_processed.columns if weather_train_processed[var].isnull().mean()>0]
weather_train_na_vars

[]

All the weather variables for training set have been imputated.Reset index for later merging.

In [19]:
gc.collect()

325

# 2. building: Imputations for floor_count,year_built

floor_count: missing percentage	82.7% \
year_built: missing precentage 60%\
corr(square_feet,floor_count)=0.58 \
Here, only computate floor_count by building_id. Drop floor_count and keep sauqre_feet.

In [20]:
building.head()

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN
2        0            2   Education         5376      1991.0          NaN
3        0            3   Education        23685      2002.0          NaN
4        0            4   Education       116607      1975.0          NaN

In [819]:
building_no_floor['year_built'].isnull().sum() #774 missing year_built for total 1449 rows

774

There is only one unique year_built value for the same building_id.

In [21]:
building.groupby(['building_id'])['year_built'].value_counts(dropna=False)

building_id  year_built
0            2008.0        1
1            2004.0        1
2            1991.0        1
3            2002.0        1
4            1975.0        1
5            2000.0        1
6            1981.0        1
7            1989.0        1
8            2003.0        1
9            2010.0        1
10           1991.0        1
11           1968.0        1
12           1999.0        1
13           2000.0        1
14           2013.0        1
15           1974.0        1
16           1996.0        1
17           1980.0        1
18           1996.0        1
19           2004.0        1
20           1977.0        1
21           1990.0        1
22           1996.0        1
23           1985.0        1
24           2001.0        1
25           1969.0        1
26           2005.0        1
27           1999.0        1
28           2016.0        1
29           2006.0        1
                          ..
1419         1975.0        1
1420         1975.0        1
1421         NaN           1
1422         1932.0        1
1423         1965.0        1
1424         1964.0        1
1425         1990.0        1
1426         1948.0        1
1427         1933.0        1
1428         1933.0        1
1429         2002.0        1
1430         1981.0        1
1431         2000.0        1
1432         1968.0        1
1433         1913.0        1
1434         1967.0        1
1435         1961.0        1
1436         1937.0        1
1437         1968.0        1
1438         1990.0        1
1439         1957.0        1
1440         1987.0        1
1441         1951.0        1
1442         1993.0        1
1443         1913.0        1
1444         1914.0        1
1445         NaN           1
1446         1997.0        1
1447         2001.0        1
1448         2001.0        1
Name: year_built, Length: 1449, dtype: int64

In [22]:
def building_feature_engineering(df):
    """
    Drop floor_count;Fill the missing year_built values by the year_built for the same building_id.
    Encode primary_use
    """
    # 1-Drop floor_count due to highly correlated to square_feet
    df=df.drop('floor_count',axis=1)
    
    #2-Imputate year_built
    df=df.set_index('building_id')
    df_filled=pd.DataFrame(df.groupby('building_id')['year_built'].agg(np.mean).transform(lambda x:x.fillna(method='ffill')),columns=['year_built'])
    df.update(df_filled,overwrite=True)
    df=df.reset_index()
    
    #3 Encode categorical variable--primary_use
    le = LabelEncoder()
    df['primary_use'] = le.fit_transform(df['primary_use'])
    
    return df

In [23]:
building_processed = building_feature_engineering(building)

In [24]:
building_processed

      building_id  site_id  primary_use  square_feet  year_built
0               0        0            0         7432      2008.0
1               1        0            0         2720      2004.0
2               2        0            0         5376      1991.0
3               3        0            0        23685      2002.0
4               4        0            0       116607      1975.0
5               5        0            0         8000      2000.0
6               6        0            4        27926      1981.0
7               7        0            0       121074      1989.0
8               8        0            0        60809      2003.0
9               9        0            6        27000      2010.0
10             10        0            1       370773      1991.0
11             11        0            0        49073      1968.0
12             12        0            4        37100      1999.0
13             13        0            0        99380      2000.0
14             14        0            0        86250      2013.0
15             15        0            6        83957      1974.0
16             16        0            0        54644      1996.0
17             17        0            6        15250      1980.0
18             18        0            0       111891      1996.0
19             19        0            6        18717      2004.0
20             20        0            0       110272      1977.0
21             21        0            6         7043      1990.0
22             22        0            0         3569      1996.0
23             23        0            0       130885      1985.0
24             24        0            0       105545      2001.0
25             25        0            6       103286      1969.0
26             26        0            6        26953      2005.0
27             27        0            4        59200      1999.0
28             28        0            6        52957      2016.0
29             29        0            0       113866      2006.0
...           ...      ...          ...          ...         ...
1419         1419       15            4        40629      1975.0
1420         1420       15            1        95079      1975.0
1421         1421       15            0        47934      1975.0
1422         1422       15            4        19876      1932.0
1423         1423       15            4        18277      1965.0
1424         1424       15            4        24103      1964.0
1425         1425       15           14         4071      1990.0
1426         1426       15            1        15450      1948.0
1427         1427       15            0       180625      1933.0
1428         1428       15            0        28432      1933.0
1429         1429       15            0        40461      2002.0
1430         1430       15            6        53303      1981.0
1431         1431       15            9       111360      2000.0
1432         1432       15            0       160673      1968.0
1433         1433       15            0        28084      1913.0
1434         1434       15            0        33148      1967.0
1435         1435       15            0         9552      1961.0
1436         1436       15            5        11302      1937.0
1437         1437       15            0       111518      1968.0
1438         1438       15            0       108971      1990.0
1439         1439       15            0        56497      1957.0
1440         1440       15            4       150294      1987.0
1441         1441       15            0        30143      1951.0
1442         1442       15            9        99541      1993.0
1443         1443       15            0        40311      1913.0
1444         1444       15            1        19619      1914.0
1445         1445       15            0         4298      1914.0
1446         1446       15            1        11265      1997.0
1447         1447       15            4        29775      2001.0
1448         1448       15            6        92271      2001.0

[1449 rows x 5 columns]

In [25]:
building_processed['year_built'].isna().any()

False

## 3. Merge Datasets by Foreign Keys

In [26]:
# Merge train, weather_train via foreign key from building 
# train---building_id----building
# train---site_id,timestamp---weather_train
train_processed = train.merge(building_processed,left_on = ['building_id'], right_on=['building_id'],how='left')

In [27]:
train_processed.dtypes

building_id        int64
meter              int64
timestamp         object
meter_reading    float64
site_id            int64
primary_use        int32
square_feet        int64
year_built       float64
dtype: object

<span style='color:red'>Need to change the timestamp type from datetime to str. Later should be processed again.</span>

In [28]:
train_processed['timestamp']=train_processed['timestamp'].astype(str)
weather_train_processed['timestamp']=weather_train_processed['timestamp'].astype(str)

In [29]:
train_processed = train_processed.merge(weather_train_processed, left_on=['site_id','timestamp'],right_on=['site_id','timestamp'],how='left')

In [30]:
train_processed.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,0,2016-01-01 00:00:00,0.0,0,0,7432,2008.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0
1,1,0,2016-01-01 00:00:00,0.0,0,0,2720,2004.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0
2,2,0,2016-01-01 00:00:00,0.0,0,0,5376,1991.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0
3,3,0,2016-01-01 00:00:00,0.0,0,0,23685,2002.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0
4,4,0,2016-01-01 00:00:00,0.0,0,0,116607,1975.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0

# 4. Train: Variables in Train preprocessing

Training Set Features:

Training Set Features:\
Add hour,weekday features.\
Remove outlier building_id=1099----Based on EDA, building 1099 would draw a big influnce on the abnormality on meter_reading timeseries curve.\
square_feet---log1p

Training Set Target:\
meter_reading---log1p

In [31]:
train_processed.dtypes

building_id             int64
meter                   int64
timestamp              object
meter_reading         float64
site_id                 int64
primary_use             int32
square_feet             int64
year_built            float64
air_temperature       float64
cloud_coverage        float64
dew_temperature       float64
precip_depth_1_hr     float64
sea_level_pressure    float64
wind_direction        float64
wind_speed            float64
dtype: object

In [32]:
train_processed.columns

Index(['building_id', 'meter', 'timestamp', 'meter_reading', 'site_id',
       'primary_use', 'square_feet', 'year_built', 'air_temperature',
       'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr',
       'sea_level_pressure', 'wind_direction', 'wind_speed'],
      dtype='object')

In [33]:
def train_engineering(df):
    # Remove Outlier building_id=1099
    building_1099=df[df['building_id']==1099]
    df=df[df['building_id']!=1099]
    
    # Change timestamp to datetime type and add time features
    df= df.set_index('timestamp')
    df.index = pd.to_datetime(df.index)
    df['hour'] = df.index.day
    df['day'] = df.index.day
    df['weekday']=df.index.weekday

    # For more accurate numerical calculations
    df['year_built'] = df['year_built']-1900
    df['square_feet'] = df['square_feet']

    # Target

    df=df.reset_index()
    df['meter_reading'] = np.log1p(df['meter_reading'])
    
    df=df.reset_index()
    
    return df

In [34]:
train_processed = train_engineering(train_processed)

In [35]:
train_processed.head()

,index,timestamp,building_id,meter,meter_reading,site_id,primary_use,square_feet,year_built,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,weekday
0,0,2016-01-01,0,0,0.0,0,0,7432,108.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0,1,1,4
1,1,2016-01-01,1,0,0.0,0,0,2720,104.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0,1,1,4
2,2,2016-01-01,2,0,0.0,0,0,5376,91.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0,1,1,4
3,3,2016-01-01,3,0,0.0,0,0,23685,102.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0,1,1,4
4,4,2016-01-01,4,0,0.0,0,0,116607,75.0,25.0,6.0,20.0,-0.173913,1019.7,0.0,0.0,1,1,4

In [36]:
train_processed=train_processed.drop('index',axis=1)

In [37]:
train_processed.columns

Index(['timestamp', 'building_id', 'meter', 'meter_reading', 'site_id',
       'primary_use', 'square_feet', 'year_built', 'air_temperature',
       'cloud_coverage', 'dew_temperature', 'precip_depth_1_hr',
       'sea_level_pressure', 'wind_direction', 'wind_speed', 'hour', 'day',
       'weekday'],
      dtype='object')

In [38]:
category = ['hour','meter','weekday','primary_use','site_id','building_id']
for col in category :
    train_processed[col] = train_processed[col].astype('category')

In [39]:
target = train_processed['meter_reading']
features = train_processed.drop(['meter_reading','timestamp'], axis = 1)

In [42]:
features.to_csv(r'C:\Users\syxsw\MLProjects\BuildingEnergy\ASHRAE---Great-Energy-Predictor-III-master\train_features.csv')

In [43]:
target.to_csv(r'C:\Users\syxsw\MLProjects\BuildingEnergy\ASHRAE---Great-Energy-Predictor-III-master\train_traget.csv')

In [909]:
gc.collect()

48